<div class="container">
	<div class="row">
		<div class="col col-md-10">
			<div class="card text-white bg-primary mb-3">
				{{#if level}}
				<div class="card-header" id="">Snippet {{this.snippets.dataValues.level}} of 9</div>
				{{else}}
				<div class="card-header" id="">{{this.stories.dataValues.title}}</div>
				{{/if}}
				<div class="card-body snippet-div">
					{{this.stories.dataValues.snippet}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-3">
				<button  class="previous-level" type="button">Previous</button>
			</div>
			<div class="col col-md-3">
				<div class="form-group">
					<label for="sel1">Select list:</label>
					<select class="form-control next-level" id="sel1">
						{{#each level}}
						<option>
							
						</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-4">
				<form data-id="{{this.id}}" class="create-snippet-form">
					<div class="form-group">
						<label for="auth">Author:</label>
						<input type="text" id="auth" name="author" value="{{this.author}}">
					</div>
					<label for="snip">Snippet:</label>
					<textarea id="snip" name="snippet" rows="8" cols="40"></textarea>
					<button type="submit"></button>
				</form>
			</div>
		</div>
	</div>
</div>